@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Emilys+Candy&family=Inter:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    -webkit-font-smoothing: antiaLiased;
    -moz-osx-font-smmoothing: grayscale;
}