@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Emilys+Candy&family=Inter:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    -webkit-font-smoothing: antiaLiased;
    -moz-osx-font-smmoothing: grayscale;
}



body {
    text-align: center;
    padding-top: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url(https://i.ibb.co/ZN8Zk8X/background-image.png);
    font-family: 'cinzel';
}
    

h1 {
    font-family: 'Cinzel';
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    font-size: 64px;
    line-height: 86.27px;
    color:#151718;
}

span {
    color: #DB2777 ;
}

p {
    color: #2C2E2FE5;
    margin-bottom: 2rem;
    
}


.link-1 {
    color: #151718 ;
    font-family: 'Cinzel';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    
}


    
a.link-2 {
    color: #151718 ;
    background-color: #DB2777;
    border-radius: 80px;
    padding: 12px 32px ;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
}

 .link-2:hover {
    background-color: #d41169;
    padding: 6px 16px;
    line-height: 12px;
 }   

 @media(max-width:480px){
    .links{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 10px;
        background-color: transparent;

    }
        
    a.link-2 {
        background-color: transparent;
        padding: 0px;
    }
 }
    
