@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antiaLiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  overflow: hidden;
}

.home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: url(../img/Wallpaper\ -\ 1920x1080.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
    min-height: 100vh;
    
}

.btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 37.5rem;
    max-width: 100%;
    gap:1.5rem;    
    margin-bottom: 1rem;
}

.btn-default {
    padding: 1rem 2rem;
    background: #C1FF4D;
    border-radius: 8px;
}

a:hover {
    background-color: #372464;
    color: #fff;
}
    

@media(max-width:991px){
    .btn {
        margin-top: 40rem;
    }
}
@media(max-width:768px){
    
}
@media(max-width:480px){
    .btn{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
