@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Emilys+Candy&family=Inter:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    -webkit-font-smoothing: antiaLiased;
    -moz-osx-font-smmoothing: grayscale;
}



body {
    text-align: center;
    padding-top: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url(https://i.ibb.co/ZN8Zk8X/background-image.png);
    font-family: 'cinzel';
}
    

h1 {
    font-family: 'Cinzel';
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    font-size: 64px;
    line-height: 86.27px;
    color:#151718;
}

span {
    color: #DB2777 ;
}

p {
    color: #2C2E2FE5;
    margin-bottom: 2rem;
    
}


.link-1 {
    color: #151718 ;
    font-family: 'Cinzel';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    
}

a.link-1:hover  {
    background-color: #DB2777;
    border-radius: 80px;
    padding: 12px 32px;
    margin-top: 2rem;
    gap: 32px;
    transition: .6s ease-in-out;
}
    
a.link-2 {
    color: #151718 ;
    background-color: #DB2777;
    border-radius: 80px;
    padding: 12px 32px ;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    

}
    

    
a.link-3 {
    color: #151718 ;
    display: block;
    margin-top: 4rem;
    border-radius: 4rem;
    background-color: #DB2777;
    padding:8px 16px ;
    /* background-color: transparent; */
    margin-left: 31.25rem;
    margin-right: 31.25rem;
    text-align: center;
    /* font-family: 'Poppins' ; */
    font-weight: 700;
}